---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header>
	<img class="w-1/2 mx-auto" src="/header_bg.png" alt="" />
	<h1 class=" font-futura text-4xl font-bold">August 14-16 @ The GrEEK Campus, Cairo, Egypt</h1>
	<h2 class=" font-futura text-2xl">Code for 35 hours, <br> Get invited to a 3-day hackathon adventure</h2>
	</header>
	<section>
	<button>get started</button>
</section>
<main>
	<section>
	<p>This August, we are bringing together 80+ teen coders from all around the world to join us for a free 3-day hackathon adventure in Egypt, Horizons Equinox.</p>
	<h1>All for FREE!!</h1>
	<p>Free meals & snacks * Local transport * Event swag <br>
Flight stipends available for extra hours</p>
</section>
<section>
	<p>Create something new, get to see the pyramids of Giza up-close, code with new friends, ride a cruise down the Nile, and get immersed in Egyptian culture all in the span of 3 days!
	</p>
</section>
<section>
	<!-- image of how to qualify -->
</section>
<!-- image of cats -->

<section>
	<!-- past hack club ebents -->
</section>

<section>
	<!-- faqs -->
</section>


	</main>

</Layout>
